/* main */ 
.nav-section {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 36px;
    line-height: 40px;
    color: #000;
}

.login-button{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer; 
}

.menu-list{
    display: flex;
    list-style-type: none;
}

.menu-list li{
    padding: 10px;
}

.menu-area{
    display: flex;
    justify-content: center;
}

.search-area{
    display: flex;
    justify-content: flex-end;
}

.search-box{
    border-bottom: 1px solid black;
    position: absolute;
    right: 20px;
    padding: 5px;
  }

  .search-box input{
    border:none;
    margin-left:5px;
  }

  .search-box input:focus {
    outline:none
  }

  .card-section:hover{  
    transition: all 0.2s linear;
    transform: scale(1.1);
  }

  /*로그인 페이지*/
  .login-section {
    position: relative;
    top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .login-box {
    width: 450px;
    height: 300px;
    border: 1px solid lightgray;
    margin-top: 2em;
    border-radius: 5px;
  }

  .login-tabs{
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
  }

  .login-tabs div:hover{
    cursor: pointer;
  }
  
  .login-input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
    top: 3em;
  }

  .login-input input{
    width: 410px;
    height: 48px;
    border: 1px solid lightgray;
    padding-left: 40px;
  }

  #id-input{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  #password-input{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .input-idicon{
    position: absolute;
    left: 30px;
    top: 15px;
  }

  .input-pwicon{
    position: absolute;
    left: 30px;
    bottom: 15px;
  }


  .auto-login{
    position: relative;
    display: flex;
    top: 60px;
    left: 20px;
    font-size: 14px;
    color: #777;
  }

  #auto-btn{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #777;
    background-color: white;
    margin-right: 5px;
  }

  .btn-area{
    display: flex;
    justify-content: center;
  }

  #login-btn {
    position: relative;
    width: 410px;
    height: 48px;
    top: 4em;
    background-color: lightslategray; 
    border: none;
  }
  
  #login-btn:hover {
    background-color: black;
  }
  
  .login-list{
    display: flex;
    list-style-type: none;
    margin-top: 1em;
    justify-content: space-between;
}

.login-list li{
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #888;
    padding-right: 20px;
}


li:nth-last-child(2)::before,li:last-child::before  {
    content: "";
    border-left: 0.5px solid #dadada;
    margin-right: 20px;
    height: 12px;
}

.img-box{
    margin-top: 30px;
    width: 460px;
    height: 150px;
    background: url(/img/광고.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top -10px;
}

/*상세 페이지*/
.detail-container{
  display: flex;
  justify-content: center;
}

.product-img{
  display: flex;
  justify-content: flex-end;
  padding: 0px;
}

.detail-img{
  border: 1px solid #777;
}

.detail-page{
  border-right: 1px solid #777;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  padding: 30px;
}
.detail-title{
  font-size: 20px;
  font-weight: bolder;
  color: #222222;
}

.detail-price{
  margin-top: 15px;
  margin-right: 50px;
  font-size: 24px;
  font-weight: bolder;
  color: #d40022;
  text-align: right;
}

#dropdown-basic-button{
  width: 430px;
  height: 36px;
  background-color: white;
  border: 1px solid #777;
  color:  black;
  position: relative;
  font-size: 15px;
  top: 1em;
}

.buy-btn{
  position: relative;
  width: 430px;
  height: 50px;
  top: 2em;
}

#dropdown-menu{
  border-bottom: 1px solid #777;
  width: 430px;
  height: 36px;
}

#dropdown-basic-button:hover{
  border: 2px solid #777;
}